@font-face {
	font-family: PT Sans;
	src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEww.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tKw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
